<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
<title>Some Website</title>
</head>

<body>
  <!-- here we declare the header partial-->
  {{> header}}
    <p>A little about NodeJS Express</p>

<!-- here we declare the footer partial-->
    {{> footer}}
</body>
</html>
